In [ ]:
!pip install yfinance==0.2.4

In [3]:
import yfinance as yf
import pandas as pd

In [5]:
tesla = yf.Ticker("TSLA")

In [6]:
tesla_history = tesla.history(period="max")

In [7]:
tesla_history.reset_index(inplace=True)

In [8]:
tesla_history.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [ ]:
#!pip install pandas==1.3.3
#!pip install requests==2.26.0
!mamba install bs4==4.10.0 -y
!mamba install html5lib==1.1 -y
!pip install lxml==4.6.4
#!pip install plotly==5.3.1

In [11]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [12]:
url = "https://www.macrotrends.net/stocks/charts/TSLA/tesla/revenue"
html_data = requests.get(url).text

In [13]:
soup = BeautifulSoup(html_data, "html5lib")

In [14]:
revenue = pd.DataFrame(columns = ["Date","Revenue"])

In [15]:
for table in soup.find_all('table'):
    if table.find('th').getText().startswith("Tesla Quarterly Revenue"):
        for row in table.find("tbody").find_all("tr"):
            col = row.find_all("td")
            if len(col) != 2: continue
            Date = col[0].text
            Revenue = col[1].text.replace("$","").replace(",","")
               
            revenue = revenue.append({"Date":Date, "Revenue":Revenue}, ignore_index=True)

In [20]:
revenue = revenue[revenue['Revenue'] != ""]

In [21]:
revenue.tail()

          Date Revenue
49  2010-09-30      31
50  2010-06-30      28
51  2010-03-31      21
53  2009-09-30      46
54  2009-06-30      27